body{
	font-family:Arial;
}

.container{
	position:absolute;
	top:20%;
	left:30%;
	width:28vw;
	background-color:lightBlue;
}

.btn{
	float:left;
	border-radius:0.3vw;
	width:5vw;
	height:3vw;
	margin:1vw;
	text-align:center;
	background-color:white;
}

input{
	border-radius:0.3vw;
	border:thin solid blue;
	width:18vw;
	height:3vw;
	background-color:blue;
	color:white;
}

#tbox{
	width:19vw;
	background-color:transparent;
}

.clear{
	background-color:red;
	color:white;
}

.submit{
	background-color:green;
}

.op{
	background-color:pink;
}
